<!-- public/views/stocks.html -->

<!-- Search stock and Add stock -->
<div id="stock-form" class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<form>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false" 
						placeholder="Search stock by company name">
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary" ng-click="addStock()">Add Stock</button>
		</form>
	</div>
</div>

<div id="exchange-dd" class="col-sm-offset-10">
	<select id="exchange" class="form-control">
		<option>BSE</option>
		<option>NSE</option>
	</select>
</div>

<!-- List Code goes here -->
<div id="list-panel" class="col-sm-2">
	<div class="panel panel-default">
		<div class="list-group">
			<a href="#" class="list-group-item">Watch List</a>
		</div>
	</div>
</div>

<!-- All stocks table goes here -->
<div id="table-panel" class="col-sm-10">
	<div class="panel panel-default">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Change</th>
					<th>Day High</th>
					<th>Day Low</th>
					<th>Year High</th>
					<th>Year Low</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="stock in stocks">
					<td>{{stock.name}}</td>
					<td>{{stock.price}}</td>
					<td ng-style="stock.change < 0 && {'color': 'red', 'font-weight': 'bold'} ||
						stock.change > 0 && {'color': 'green', 'font-weight': 'bold'} ||
						stock.change == 0 && {'color': 'black', 'font-weight': 'bold'}">{{stock.change}}</td>
					<td>{{stock.day_high}}</td>
					<td>{{stock.day_low}}</td>
					<td>{{stock.year_high}}</td>
					<td>{{stock.year_low}}</td>
					<td><input type="button" class="btn btn-link" value="Remove Stock" ng-click="deleteStock(stock.symbol)"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
