@CHARSET "ISO-8859-1";

.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 14px;
	height: 34px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 600px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 602px;
}
.tt-suggestion {
	font-size: 12px;
	line-height: 24px;
	padding: 3px 20px;
	cursor: default;
	white-space: pre;
	overflow: hidden;
}
.tt-suggestion:hover {
	background-color: #0097CF;
	color: #FFFFFF;
}

.company-symbol {
	display: inline-block;
	width: 105px;
}

.company-name {
	display: inline-block;
	width: 350px;
}

.company-type {
	display: inline-block;
	width: 50px;
}

#exchange-dd {
	padding-top: 10px;
	padding-right: 15px;
}

#table-panel, #list-form {
	padding-top: 10px;
}

#list-panel {
	padding-top: 10px;
	font-size: 12px;
}

#close-icon {
	width: 15px;
	height: 15px;
}

.table tbody tr td {
	vertical-align: middle;
}